<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<h3 class="panel-title text-center">Query Results</h3>
							<div class="col col-xs-12 text-right" data-turbolinks="false">
      					<%= link_to "Download to Excel", download_csv_path(environment_name: @env, saved_query: @query_sql), class: "btn btn-sm btn-primary" %>
      				</div>
						</div>
					</div>
					<div class="panel-body">
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-12">	
								<table class="table table-bordered table-striped" id="scroll_datatable">
									<thead>
										<tr class="text-center">
											<% @result_header.each do |header| %>
												<th><%= header %></th>
											<% end %>
										</tr>
									</thead>
									<tbody>									
										<% @result_values.each do |row| %>
											<tr class="text-center">
												<% row.each do |value| %>						
													<td>
														<%= value %>
													</td>
												<% end %>
											</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>